<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJS 示例</title>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
    <div ng-app="myNoteApp" ng-controller="myNoteCtrl">
        <h2>我的笔记本</h2>
        <p>
            <textarea ng-model="message" cols="40" rows="10"></textarea>
        </p>
        <p>
            <button ng-click="save()">保存</button>
            <button ng-click="clear()">清除</button>
        </p>
        <p>Number of characters left: <span ng-bind="left()"></span></p>
    </div>
    <script>
        var app = angular.module("myNoteApp", []);
        app.controller('myNoteCtrl', ['$scope', function ($scope) {
            $scope.message = "";
            $scope.left = function(){
                return 100 - $scope.message.length;
            };
            $scope.save = function(){
                alert("Note Saved");
            };
            $scope.clear = function(){
                $scope.message = "";
            }
        }])
    </script>
</body>
</html>